@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+Bengali:wght@500&family=Poppins:wght@500&display=swap");

/* General Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Heading */
.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Subheading */
.subheading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #555;
}

/* Body Text */
.body-text {
  font-family: "Noto Sans Bengali", sans-serif;
  font-weight: 500;
  color: #777;
}

/* Mission Content */
.mission-content {
  width: 100%;
  padding: 2.5rem;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #2563eb, #146bdb, #014ab8);
  color: white;
  position: relative;
}

/* Accent color for headings */
.text-accent {
  color: #4ef0d3;
}

/* Mission text styling */
.mission-text {
  font-size: 1.5rem;
  line-height: 1.75;
  font-weight: 700;
}

/* Background decoration */
.background-decoration {
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  pointer-events: none;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  opacity: 0.15;
}

/* Apply Montserrat for headings, overriding previous Poppins font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Clip-path for the gradient background for home */
@layer utilities {
  .clip-path-custom-home {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 85%);
  }
}
/* Clip-path for the gradient background for about*/
@layer utilities {
  .clip-path-custom-about {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
    background: linear-gradient(to bottom, #e58964, #014ab8);
  }
}
/* Clip-path for the gradient background for Transform section*/
@layer utilities {
  .clip-path-custom-transform {
    clip-path: polygon(0 100%, 100% 100%, 100% 45%, 0 0);
    background: linear-gradient(to bottom, #014ab8, #014ab8);
  }
}

/* Clip-path for the background image */
.clip-path-image {
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
}

/* Smooth Background Animation */
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add animated background with 6 images and slashes for home banner */
.animated-bg {
  position: relative;
  background: url("./assets/Images/ctaMobileWaveLines(1).svg") no-repeat center
      center/cover,
    url("./assets/Images/WaveLinesDesktop1.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop2.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop3.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop4.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesMobile1.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesMobile2.svg") no-repeat center center/cover,
    linear-gradient(45deg, #0251be, #0251be, #0251be); /* Gradient as the last background layer */
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 100%, 200% 200%;
  animation: bgAnimation 8s infinite ease-in-out;
}

/*  */

/* Add animated background with 6 images and slashes for finance section */
.animated-bg-finance {
  position: relative;
  background: url("./assets/Images/ctaMobileWaveLines(1).svg") no-repeat center
      center/cover,
    url("./assets/Images/WaveLinesDesktop1.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop2.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop3.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop4.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesMobile1.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesMobile2.svg") no-repeat center center/cover,
    linear-gradient(45deg, #0251be, #0251be, #0251be); /* Gradient as the last background layer */
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 100%, 200% 200%;
  animation: bgAnimation 8s infinite ease-in-out;
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s infinite linear;
}

/* Slash lines */
.animated-bg::before,
.animated-bg::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50px;
  height: 300px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  animation: slashAnimation 8s infinite ease-in-out;
}

/* Animation for the lines */
@keyframes slashAnimation {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  50% {
    transform: translate(200px, 200px) rotate(45deg);
  }
  100% {
    transform: translate(0, 0) rotate(45deg);
  }
}

Optional second set of slashes .animated-bg::after {
  top: 80%;
  left: 80%;
  animation: slashAnimation 30s infinite ease-in-out;
}

/* Animation for finance section */
@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-slow-bounce {
  animation: slowBounce 15s ease-in-out infinite;
}

/* Our Mission animation */

/* Gradient Background Animation */
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animating the gradient */
.animate-gradient-bg {
  animation: gradient-bg 6s ease infinite;
}

/* Clip Path Shapes */
.clip-shape-1 {
  clip-path: polygon(0 70%, 0% 100%, 84% 28%);
}

.clip-shape-2 {
  clip-path: polygon(70% 0, 99% 0, 75% 100%, 43% 100%);
}

.clip-shape-3 {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*==== Our Mission ===== */

/* Section background decoration */
.mission-content {
  width: 100%;
  padding: 2.5rem;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #156edd, #146bdb, #014ab8);
  color: white;
  position: relative;
}

/* Background decoration */
.background-decoration {
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  pointer-events: none;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  opacity: 0.15;
}

/*  */

/* Add animated background with 6 images and slashes for home banner */
.animated-bg-mission {
  position: relative;
  background: url("./assets/Images/ctaMobileWaveLines(1).svg") no-repeat center
      center/cover,
    url("./assets/Images/WaveLinesDesktop1.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop2.svg") no-repeat center center/cover,
    url("") no-repeat center center/cover,
    url("./assets/Images/WaveLinesDesktop4.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesMobile1.svg") no-repeat center center/cover,
    url("./assets/Images/WaveLinesMobile2.svg") no-repeat center center/cover,
    linear-gradient(45deg, #0251be, #0251be, #0251be); /* Gradient as the last background layer */
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 100%, 200% 200%;
  animation: bgAnimation 8s infinite ease-in-out;
}
